<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PDF</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    body {
      font-family: Poppins, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 13pt;
      line-height: 1.5;
    }

    .form-check {
      border: 1px solid #e4e6ef;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 4px 4px 0 0;
    }

    .form-check-inline {
      display: inline-block;
      align-items: center !important;
      height: 40px;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    .center {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
    }

    .q-radio__bg {
      fill: #023859;
      font-size: 22px;
      width: 1em;
      height: 1em;
    }

    .q-radio__bg_not_selected {
      font-size: 22px;
      width: 1em;
      height: 1em;
      fill: rgba(0, 0, 0, 0.54);
    }

    .subtitle,
    .title {
      font-weight: bold;
      margin: 0 0 10px;
    }

    .title {
      font-size: 29px;
      line-height: 35px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 23px;
      font-weight: bold;
      line-height: 29px;
    }

    .text-bold {
      font-weight: 1000 !important;
    }

    .text-h4 {
      font-size: 20pt;
      letter-spacing: .009em;
    }

    .q-separator--horizontal {
      display: block;
      height: 2px;
    }

    .q-separator {
      background: black;
      border: 0;
      flex-shrink: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      transition: background .3s, opacity .3s;
    }

    .text-label {
      font-weight: 600;
      font-size: 14px;
    }

    .cargo {
      margin-bottom: 0px;
    }

    .derivacion {
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .q-li {
      box-sizing: border-box;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .text-primary {
      color: #044d78;
    }

    .text-black {
      color: #000000;
    }

    table {
      page-break-inside: auto;
      width: 100%;
      height: 100%;
      border: none;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }

    thead {
      display: table-header-group
    }

    tfoot {
      display: table-footer-group
    }

    .text-oculto {
      display: none;
    }

    .card {
      padding: 100px;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="row">
      <div class="col-xs-2 text-center">
        <img width="100" src="<%= `data:image/png;base64,${logoMinisterio}`%>" />
      </div>
      <div class="col-xs-8 text-center">
        <p class="text-h4 text-bold text-center text-primary">MINISTERIO DE JUSTICIA Y TRANSPARENCIA INSTITUCIONAL</p>
        <p class="text-h6 text-bold text-center text-black">Sistema Integral Plurinacional de Prevenci贸n, Atenci贸n, Sanci贸n, Erradicaci贸n de la Violencia contra las Mujeres (SIPPASE)</p>
      </div>
      <div class="col-xs-2 text-center">
        <img width="100" src="<%= `data:image/png;base64,${logoVdduc}`%>" />
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="text-h4 text-bold text-primary">CERTIFICACION (MED)</p>
      </div>
    </div>
    <div class="q-separator" style="height: 3px;"></div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p class="text-label"><b>Fecha:</b> <%= solicitud.fechaSolicitud %></p>
      </div>
      <!-- <div class="col-xs-6 text-right"> -->
      <!--   <p class="text-label"><b>Codigo:</b> <%= solicitud.codigo %></p> -->
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table>
          <thead>
            <tr>
              <td colspan="2" class="text-center">
                <p class="text-h4">Datos del solicitud</p></td>
            </tr>
            <tr>
              <td class="text-center">Elemento</td>
              <td class="text-center">Descripcion</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nombre de solicitud</td>
              <td ><%= solicitud.nombre %></td>
            </tr>
            <tr>
              <td>Departamento</td>
              <td><%= solicitud.departamento %></td>
            </tr>
            <tr>
              <td>Direccion</td>
              <td><%= solicitud.direccion %></td>
            </tr>
            <tr>
              <td>Servicios ofrecidos</td>
              <td><%= solicitud.servicios %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>
