<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reunion</title>
  <style>
    body {
      font-family: 'Arial';
      font-size: 11px;
    }

    td {
      max-width: 30px;
    }

    table,
    th,
    td {
      border: none;
      border-collapse: collapse;
      padding: 5px;
    }


    .background-titulo {
      background-color: #607D8B;
      color: #FFFFFF;
      text-align: center;
    }

    .text-h6 {
      font-size: 20px;
      font-weight: bold;
    }

    .text-center {
      text-align: center;
    }

    .text-bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="esquina esquina-top"></div>
    <div class="esquina esquina-right"></div>
    <div class="esquina esquina-bottom"></div>
    <div class="esquina esquina-left"></div>
    <div class="border-certificado"></div>
    <div class="certificado">
      <img src=<%=reunion.entidad.urlLogo%>
        style="margin-bottom:20px;display: block;margin-left: auto;margin-right: auto;width: 200px;" alt="Logo"
        width="200">

      <table style="width: 50%;border:none !important;margin:0 auto;" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td colspan="6">Titulo</td>
            <td colspan="6"><%= reunion.titulo %></td>
          </tr>
          <tr>
            <td colspan="6">Descripcion</td>
            <td colspan="6"><%= reunion.descripcion %></td>
          </tr>
                    <tr>
            <td colspan="6">Fecha reunion:</td>
            <td colspan="6"><%= reunion.fechaReunion %></td>
          </tr>
        </tbody>
      </table>


      <table style="width: 100%;margin-top: 20px;">
        <tbody>
          <tr>
            <td colspan="12" class="text-center background-titulo">
              <span class="text-h6">Resumen </span>
            </td>
          </tr>
          <tr>
            <td class="background-titulo">Tareas concluidas</td>
            <td class="background-titulo">Tareas programadas</td>
          </tr>
          <tr>
            <td>
              <% reunion.tareasConcluidas.forEach(function(tareaConcluida, index){ %>
              <p><%= tareaConcluida.titulo %></p>
              <% }); %>
            </td>
            <td>
              <% reunion.tareasProgramadas.forEach(function(tareaProgramada, index){ %>
              <p><%= tareaProgramada.titulo %></p>
              <% }); %>
            </td>
          </tr>

        </tbody>
      </table>


      <table style="width: 100%;margin-top: 20px;">
        <tbody>
          <tr>
            <td colspan="12" class="text-center background-titulo">
              <span class="text-h6">Participantes </span>
            </td>
          </tr>
          <tr>
            <td class="background-titulo">Participante</td>
            <td class="background-titulo">Cargo</td>
            <td class="background-titulo">Firma</td>
          </tr>
            <% reunion.participantes.forEach(function(participante, index){ %>
            <tr>
              <td><%= participante.nombres %> <%= participante.primerApellido %> <%= participante.segundoApellido %></td>
              <td><%= participante.cargo %></td>
              <td></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>